/* ----Fonts styles---- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/* --------header styles------ */
.header-section{
    display: flex;
    background-color: #2D25A0;
    width: 1440px;
    height: 677px;
    padding-bottom: 169px;
    margin-bottom: 70px;
}
.header-details{
    padding-left: 156px;
     padding-top: 207px;
     }
.header-title{
    color: white;
    font-size: 64px;
    font-weight: 700;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    
    
}
.banner img{
     width: 556px;
     height: 438px;
     padding-top: 156px;
     padding-right: 140px;
}
/*----------Players styles------- */
.container{
    margin-bottom: 27px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    padding-left: 180px;
    padding-right: 210px;
}
.player{
    padding: 15px;
}
.box-shadow{
    box-shadow: 0px 0px 40px 0px rgb(214, 214, 214);
    
}
.player img{
  width: 300px;
  height: 256px;
  
}
.player-name{
    font-size: 28px;
    font-weight: 700px;
}

/* -------------------------
       footer styles
----------------------------- */
.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons{
    width: 32px;
    height: 32px;
    color: gray;
    padding: 14px;
    margin-top: 20px;
    
}
.copyright{
    margin-top: 20px;
    font-size: 18px;
}

